<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div>
                <div id='calendar'></div>
            </div>
        </div>
    </div>

     <!-- Modal -->
     <div class="modal fade" id="visualizar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
     <div class="modal-dialog" role="document">
       <div class="modal-content">
         <div class="modal-header">
           <h5 class="modal-title" id="exampleModalLabel">Detalhes do Evento</h5>
           <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
             <span aria-hidden="true">&times;</span>
           </button>
         </div>
         <div class="modal-body">
           <dl class="row">
             <dt class="col-sm-4">Nome Completo</dt>
             <dd class="col-sm-8" id="title"></dd>

             <dt class="col-sm-4">Data De Nascimento</dt>
             <dd class="col-sm-8" id="start"></dd>
           </dl>
         </div>
       </div>
     </div>
   </div>
</div>