<div class="container">
  <b style="color:rgb(10, 85, 197)">CENTRAL DE VENDAS</b>
  <br>
  <br>
  <p>
    Canal criado para você colaborador da Milan Leilões acompanhar e cadastrar seus produtos para venda em nosso
    portal
    da Internet, com toda a agilidade, segurança e praticidade.</p>
  <br>
  <br>
  <div class="text-center">
    <button type="button" class="btn btn-raised btn-lg"><i style="color: rgb(94, 94, 94)"
        class="fas fa-car fa-4x" routerLink="/vendas/autos"><br></i></button>&nbsp;&nbsp;&nbsp;
    <button type="button" class="btn btn-raised btn-lg"><i style="color: rgb(94, 94, 94)"
        class="fas fa-building fa-4x" routerLink="/vendas/imoveis"><br></i></button>&nbsp;&nbsp;&nbsp;
    <button type="button" class="btn btn-raised btn-lg"><i style="color: rgb(94, 94, 94)"
        class="fas fa-tools fa-4x" routerLink="/vendas/materiais"><br></i></button>
  </div>
</div>