<div class="d-flex" id="wrapper">
    <div *ngIf="loggedIn()" class="sidenav">
        <div class="text-center list-group">
            <b class="sidebar-brand">
                <img src="assets/img/user_profile.png" width="60px" alt="">
                <br>
                <b><a style="color: rgb(28, 71, 121); text-transform: capitalize;" href="#">{{UserName()}}</a></b>
            </b>
            <br>
            <b><a style="color: rgb(81, 90, 100)">ADMINISTRATIVO</a></b>
            <ul class="text-justify">
                <li><a routerLink="home">Página Inicial</a></li>
                <li *ngIf="userRole() === 'admin' || userRole() === 'G&G'"><a routerLink="aniversariante">Importar
                        Aniversariantes</a></li>
                <li><a routerLink="reuniao">Reserva de Salas</a></li>
                <li *ngIf="userRole() === 'admin' || userRole() === 'Atendimento'"><a routerLink="evento">Eventos</a>
                </li>
                <li><a routerLink="solicitacao-de-ferias">Solicitação de Férias</a></li>
                <li *ngIf="userRole() === 'admin' || userRole() === 'Recepcao'"><a routerLink="recebimento-e-correspondencia">Recebimentos</a></li>
                <li><a routerLink="lista-de-ramais-milan">Lista de Ramais</a></li>
            </ul>
            <b><a style="color: rgb(81, 90, 100)">MEUS LEILÕES</a></b>
            <ul class="text-justify">
                <li><a routerLink="vendas/menu">Vendas</a></li>
                <li *ngIf="userRole() === 'admin'"><a href="#">Compras</a></li>
            </ul>
        </div>
    </div>
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <nav style="background-color: #051a4b;" class="navbar nav-sidebar navbar-expand border-bottom mb-3">
            <div *ngIf="!loggedIn()" style="background-color: #051a4b" class="sidebar-heading">
                <a><img src="assets/img/milanx_branco.png" width="95px"></a>
            </div>
            <div *ngIf="loggedIn()" style="background-color: #051a4b" class="sidebar-heading">
                <a routerLink="home"><img src="assets/img/milanx_branco.png" width="95px"></a>
            </div>
            <div class="container-fluid">
                <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <i class="fas fa-align-justify"></i>
                </button>

                <div style="width: 1215px;height: 42px;" class="collapse navbar-collapse" id="navbarSupportedContent">
                    <div *ngIf="loggedIn()" style="display: flow-root;"
                        class="bmd-form-group bmd-collapse-inline col-md-3 offset-md-3">

                        <form class="example" action="action_page.php">
                            <input type="text" placeholder="Pesquisar" name="search">
                            <button type="submit"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                    <ul *ngIf="loggedIn()" class="nav navbar-nav ml-auto">
                        <li class="nav-item">
                            <div class="btn-group">
                                <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                    <a style="text-transform:capitalize;" class="fas fa-user"> Olá {{UserName()}}</a>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <form class="col-12 col-md-12">
                                        <div class="form-group">
                                            <label for="exampleSair" (click)="logout()"
                                                style="cursor: pointer">Sair</label>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="main">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>