<div class="container">
    <div class="row">
        <div class="col-md-4 ">
            <div class="card">
                <div class="card-header text-white" style="background-color:#051a4b">
                    RESERVAR SALA DE REUNIÃO
                </div>
                <br>
                <form [formGroup]="reservarSalaForm">
                    <div class="row col-md-12 mb-3">
                        <div class="col-10">
                            <label for="validationDefault03">Assunto</label>
                            <input type="text" formControlName="title" class="form-control" id="title" required>
                        </div>
                    </div>
                    <div class="row col-md-12 mb-3">
                        <div class="col-10">
                            <label for="validationDefault03">Departamentos</label>
                            <br>
                            <select class="custom-select" name="Departamentos" id="Departamentos"
                                formControlName="departamento">
                                <option *ngFor="let departamento of Departamentos" [value]="departamento.nome">
                                    {{departamento.nome}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row col-md-12 mb-3">
                        <div class="col-10">
                            <label for="validationDefault03">Sala</label>
                            <br>
                            <select class="custom-select" name="SalaDeReuniao" id="SalaDeReuniao"
                                formControlName="sala">
                                <option *ngFor="let s of SalaDeReuniao" [value]="s.sala">
                                    {{s.sala}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row col-md-12 mb-3">
                        <div class="col-10">
                            <label for="validationDefault03">Data Inical</label>
                            <input type="date" formControlName="data" class="form-control" id="data" required>
                        </div>
                    </div>
                    <div class="row col-md-12 mb-3">
                        <div class="col-5">
                            <label for="validationDefault03">Início</label>
                            <input type="time" formControlName="start" class="form-control" id="start" required>
                        </div>
                        <div class="col-5">
                            <label for="validationDefault03">Fim</label>
                            <input type="time" formControlName="end" class="form-control" id="end" required>
                        </div>
                    </div>
                    <div class="col-md-8 mb-6">
                        <button style="background-color: #051a4b;border-radius: 10px;"
                            class="btn btn-raised btn-success btn-sm" (click)="AdicionarReuniao()">Adicionar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>