<div class="container">
    <b style="color:rgb(10, 85, 197)">CENTRAL DE VENDAS - AUTOMÓVEIS</b>
    <br>
    <br>
    <form>
        <div class="form-row">
            <div class="col-md-2 mb-2">
                <label for="validationDefault02">Data Emissão *</label>
                <input type="date" class="form-control" id="validationDefault02" required>
            </div>
            <div class="col-md-1 mb-1">
                <label for="validationDefault03">N° NF</label>
                <input type="text" class="form-control" id="validationDefault03" required>
            </div>
            <div class="col-md-4 mb-4">
                <label for="validationDefault03">Descrição do Item</label>
                <input type="text" class="form-control" id="validationDefault03" required>
            </div>
            <div class="col-md-1 mb-2">
                <label for="validationDefault03">Valor</label>
                <input type="text" class="form-control" id="validationDefault03" required>
            </div>
            <div class="col-md-1 mb-1">
                <label for="validationDefault03">Qtda.</label>
                <input type="text" class="form-control" id="validationDefault03" required>
            </div>
            <div class="mb-6">
                <br>
                &nbsp;<button style="background-color: #051a4b" class="btn btn-raised btn-primary btn-sm">add
                    item</button>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col-10">
            <table class="table table-sm table-responsive-sm table-hover">
                <thead style="background-color:#2c77bd">
                    <tr>
                        <th class="text-light" scope="col">N°</th>
                        <th class="text-light" scope="col">DESCRIÇÃO</th>
                        <th class="text-light" scope="col">QTDA.</th>
                        <th class="text-light" scope="col">VALOR UNIT.</th>
                        <th class="text-light" scope="col">VALOR TOTAL</th>
                        <th class="text-light" scope="col">COMISSÃO</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>1500,00</td>
                        <td>1500,00</td>
                        <td>2%</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>1500,00</td>
                        <td>1500,00</td>
                        <td>2%</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Larry the Bird</td>
                        <td>@twitter</td>
                        <td>1500,00</td>
                        <td>1500,00</td>
                        <td>2%</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <br>
    <br>
    <form>
        <div class="form-row">
            <div class="col-md-4 mb-2">
                <label for="validationDefault02">Arquivo NF (SCANIADO - PDF*)</label>
                <div class="input-group input-group-sm">
                    <input type="text" class="form-control form-control-sm" readonly>
                    <label class="input-group-btn">
                        <span style="background-color:#0099cc" class="btn btn-raised btn-primary btn-sm">
                            ANEXAR ARQUIVOS<input type="file" style="display: none;" multiple>
                        </span>
                    </label>
                </div>
            </div>
            <div class="col-md-4 mb-4 offset-md-2">
                <label for="validationDefault02">GARE (SCANIADO - PDF*)</label>
                <div class="input-group input-group-sm">
                    <input type="text" class="form-control form-control-sm" readonly>
                    <label class="input-group-btn">
                        <span style="background-color:#0099cc" class="btn btn-raised btn-primary btn-sm">
                            ANEXAR ARQUIVOS<input type="file" style="display: none;" multiple>
                        </span>
                    </label>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-4 mb-2">
                <label for="validationDefault02">Termo de Aceite (SCANIADO - PDF*)</label>
                <div class="input-group input-group-sm">
                    <input type="text" class="form-control form-control-sm" readonly>
                    <label class="input-group-btn">
                        <span style="background-color:#0099cc" class="btn btn-raised btn-primary btn-sm">
                            ANEXAR ARQUIVOS<input type="file" style="display: none;" multiple>
                        </span>
                    </label>
                </div>
            </div>
        </div>
    </form>
    <div class="col text-center">
        <button style="background-color:#009b5f" type="button" class="btn btn-raised btn-success">Finalizar
            Venda</button>
    </div>
</div>