<div class="container">
    <b style="color:rgb(10, 85, 197)">CENTRAL DE VENDAS</b>
    <br>
    <br>
    <form>
        <div class="form-row">
            <div class="col-md-2 mb-2">
                <label for="validationDefault02">Data Emissão</label>
                <input type="date" class="form-control" id="validationDefault02" required>
            </div>
            <div class="col-md-1 mb-1">
                <label for="validationDefault03">N° NF</label>
                <input type="text" class="form-control" id="validationDefault03" required>
            </div>
            <div class="col-md-4 mb-4">
                <label for="validationDefault03">Descrição do Item</label>
                <input type="text" class="form-control" id="validationDefault03" required>
            </div>
            <div class="col-md-1 mb-2">
                <label for="validationDefault03">Valor</label>
                <input type="text" class="form-control" id="validationDefault03" required>
            </div>
            <div class="col-md-1 mb-1">
                <label for="validationDefault03">Qtda.</label>
                <input type="text" class="form-control" id="validationDefault03" required>
            </div>
            <div class="mb-6">
                <br>
                &nbsp;<button style="background-color: #051a4b" class="btn btn-raised btn-primary btn-sm">add
                    item</button>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col-10">
            <table class="table table-sm table-responsive-sm table-hover">
                <thead style="background-color:#1b60a0">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Handle</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td colspan="2">Larry the Bird</td>
                        <td>@twitter</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <form>
        <input>
        <input id='selecao-arquivo' type='file'>
    </form>
</div>