<div class="container">
    <b style="color:rgb(10, 85, 197)">RELATÓRIO - RECEBIMENTOS</b>
    <br>
    <br>
    <form [formGroup]="pesquisaRecebimentoForm">
        <div class="form-row">
            <div class="col-md-3 mb-3">
                <label for="validationDefault03">Receptador</label>
                <select formControlName="userId" class="custom-select" name="user" id="user">
                    <option value="">Selecione um receptador</option>
                    <option *ngFor="let user of Users | orderBy:'fullName'" [value]="user.id">
                        {{user.fullName}}</option>
                </select>
            </div>
            <div class="col-md-2 mb-3">
                <label for="validationDefault02">Data*</label>
                <input formControlName="data" class="form-control" type="date" id="newAttributedataEmissao"
                    name="newAttributedataEmissao" required />
            </div>
            <br>
            <div class="mb-6">
                <br>&nbsp;<button style="background-color: #051a4b;border-radius: 10px;"
                    class="btn btn-raised btn-primary btn-sm" type="button" (click)="pesquisarRecebimentos()"><i
                        class="fas fa-search"></i></button>
                &nbsp;<button style="border-radius: 10px;" class="btn btn-raised btn-danger btn-sm"
                    (click)="deleteAll(this)">Limpar</button>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col-12">
            <table class="table table-sm table-responsive-sm table-hover">
                <thead style="background-color:#2c77bd">
                    <tr>
                        <th class="text-light" scope="col">Remetente</th>
                        <th class="text-light" scope="col">N° de rastreamento</th>
                        <th class="text-light" scope="col">QTDA.</th>
                        <th class="text-light" scope="col">Receptador</th>
                        <th class="text-light" scope="col">Data/Hora</th>
                        <th class="text-light" scope="col">RecebidoPor</th>
                        <th class="text-light" scope="col">Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let field of fieldArray; let i = index">
                        <td>
                            {{field[i].remetente}}
                        </td>
                        <td>
                            {{field[i].numeroDeRastreamento}}
                        </td>
                        <td>
                            {{field[i].quantidade}}
                        </td>
                        <td>
                            {{field[i].user.fullName}}
                        </td>
                        <td>
                            {{field[i].dataDoRecebimento  | date: 'dd/MM/yyyy'}}
                        </td>
                        <td>
                            {{field[i].recebidoPor}}
                        </td>
                        <td>
                            {{field[i].status}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>