<div class="bg-white">
  <div class="container">
    <div class="row">
      <div class="col-11">
        <img src="assets/img/ford-EcoAzul-Banner.jpg" class="border">
        <br>
        <br>
        <!-- Modal -->
        <div class="modal fade" id="evento" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Detalhes do Evento</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <dl class="row">
                  <dt class="col-sm-5">Nome do Evento:</dt>
                  <dd class="col-sm-7" id="title"></dd>

                  <dt class="col-sm-5">Data Inicial:</dt>
                  <dd class="col-sm-7" id="start"></dd>

                  <dt class="col-sm-5">Data Final:</dt>
                  <dd class="col-sm-7" id="start"></dd>
                </dl>
              </div>
            </div>
          </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="aniversariante" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="text-center" id="exampleModalLabel"><i class="fas fa-gift"></i> Aniversariante do dia</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <dl class="row">
                  <dt class="col-sm-4">Nome Completo:</dt>
                  <dd class="col-sm-8" id="title"></dd>

                  <dt class="col-sm-5">Data De Nascimento:</dt>
                  <dd class="col-sm-7" id="start"></dd>
                </dl>
              </div>
            </div>
          </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="leilao" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Detalhes do Leilão</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <dl class="row">
                  <dt class="col-sm-4">Nome do Leilão:</dt>
                  <dd class="col-sm-8" id="title"></dd>

                  <dt class="col-sm-4">Comitente:</dt>
                  <dd class="col-sm-8" id="nomeDoComitente"></dd>

                  <dt class="col-sm-4">Tipo do Leilão:</dt>
                  <dd class="col-sm-8" id="tipoDeLeilao"></dd>

                  <dt class="col-sm-4">Data do Leilão</dt>
                  <dd class="col-sm-8" id="start"></dd>
                </dl>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5">
            <div class="card text-left">
              <div class="card-header text-white" style="background-color:#051a4b">
                EVENTOS
              </div>
              <div class="card-body">
                <div>
                  <div id='calendar'></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-5 ml-auto">
            <div class="card">
              <div class="card-header text-white" style="background-color:#051a4b">
                MINHAS SOLICITAÇÕES
              </div>
              <div class="card-body">
                <p class=" h6 card-text"><b style="color:rgb(10, 85, 197)">01/08/2019</b> - Documentação Leilão Ford -
                  Aprovada
                </p>
                <br>
                <p class=" h6 card-text"><b style="color:rgb(10, 85, 197)">17/07/2019</b> - Aumento Ticket - Reprovada
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>