<div class="bg-white">
  <div class="container">
    <div class="row">
      <div class="col-11">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="d-block w-100" src="assets/img/BEM-VINDO-INTRANET.jpg" alt="First slide">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="assets/img/NOVIDADE-TOTVS.jpg" alt="Second slide">
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
        <!-- <img src="assets/img/ford-EcoAzul-Banner.jpg" class="border"> -->
        <br>
        <br>
        <!-- Modal -->
        <div class="modal fade" id="aniversariante" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="text-center" id="exampleModalLabel"><i class="fas fa-gift"></i> Aniversariante do dia</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <dl class="row">
                  <dt class="col-sm-5">Nome Completo:</dt>
                  <dd class="col-sm-7" id="title"></dd>

                  <dt class="col-sm-5">Data De Nascimento:</dt>
                  <dd class="col-sm-7" id="start"></dd>
                </dl>
              </div>
            </div>
          </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="leilao" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Detalhes do Leilão</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <!-- Formulario Edit -->
                <div class="formedit">
                  <form #frm="ngForm">
                    <dl class="row">
                      <input type="hidden" name="id" class="form-control" id="id" [(ngModel)]="editarForm.id" required>
                      <dt class="col-sm-4">Nome do Leilão:</dt>
                      <dd><input type="text" name="title" id="title" class="form-control" [(ngModel)]="editarForm.title"
                          required></dd>

                      <dt class="col-sm-4">Comitente:</dt>
                      <dd><input type="text" class="form-control" id="nomeDoComitente" name="nomeDoComitente"
                          [(ngModel)]="editarForm.nomeDoComitente" required></dd>

                      <dt class="col-sm-4">Tipo do Leilão:</dt>
                      <dd><input type="text" name="tipoDeLeilao" class="form-control" id="tipoDeLeilao"
                          [(ngModel)]="editarForm.tipoDeLeilao"></dd>

                      <dt class="col-sm-4">Data do Leilão:</dt>
                      <dd>
                        <input type="text" name="start" class="form-control" id="start" [(ngModel)]="editarForm.start">
                      </dd>
                      <input type="hidden" name="endereco" class="form-control" id="endereco"
                        [(ngModel)]="editarForm.endereco" required>
                      <input type="hidden" name="observacao" class="form-control" id="observacao"
                        [(ngModel)]="editarForm.observacao" required>
                    </dl>
                  </form>
                  <button (click)="editar(frm)" type="submit" style="background-color: #eead2d;border-radius: 10px;"
                    class="btn btn-raised">Alterar</button>&nbsp;
                  <button style="border-radius: 10px;" class="btn btn-raised btn-link"
                    (click)="slideFormEditLeilao()">Voltar</button>
                </div>
                <div class="visevent">
                  <dl class="row">
                    <dt class="col-sm-4">Nome do Leilão:</dt>
                    <dd class="col-sm-8" id="title"></dd>

                    <dt class="col-sm-4">Comitente:</dt>
                    <dd class="col-sm-8" id="nomeDoComitente"></dd>

                    <dt class="col-sm-4">Tipo do Leilão:</dt>
                    <dd class="col-sm-8" id="tipoDeLeilao"></dd>

                    <dt class="col-sm-4">Data do Leilão</dt>
                    <dd class="col-sm-8" id="start"></dd>
                  </dl>
                  <div *ngIf="userRole() === 'admin' || userRole() === 'Atendimento'">
                    <button style="background-color: #eead2d;border-radius: 10px;" class="btn btn-raised btn-canc-vis"
                      (click)="slideFormEditLeilao()">Editar</button>&nbsp;
                    <button style="background-color: darkred;border-radius: 10px;" class="btn btn-raised btn-light"
                      (click)="slideFormexcluirLeilao()">Deletar</button>
                  </div>
                </div>
                <!-- Excluir Evento -->
                <div class="excluirEvento">
                  <dl class="row">
                    <dt class="col-sm-12">Tem certeza que deseja excluir o leilão?</dt>
                  </dl>
                  <button style="background-color: darkred;border-radius: 10px;" class="btn btn-raised btn-light"
                    (click)="cancelarLeilao(this)">Excluir</button>
                  <button style="border-radius: 10px;" class="btn btn-raised btn-link"
                    (click)="slideFormexcluirLeilao()">Voltar</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="reuniao" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Detalhes da Reunião</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="esconderRenuiao">
                  <dl class="row">
                    <input type="hidden" name="id" class="form-control" id="id" required>
                    <input type="hidden" name="userId" class="form-control" id="userId" required>
                    <dt class="col-sm-5">Assunto da Reunião:</dt>
                    <dd class="col-sm-7" id="title"></dd>

                    <dt class="col-sm-5">Responsável:</dt>
                    <dd class="col-sm-7" id="responsavel"></dd>

                    <dt class="col-sm-5">Departamento:</dt>
                    <dd class="col-sm-7" id="departamento"></dd>

                    <dt class="col-sm-5">Sala:</dt>
                    <dd class="col-sm-7" id="sala"></dd>

                    <dt class="col-sm-5">Início:</dt>
                    <dd class="col-sm-7" id="start"></dd>

                    <dt class="col-sm-5">Fim:</dt>
                    <dd class="col-sm-7" id="end"></dd>
                  </dl>
                  <div *ngIf="VerificarPermissaoDeExcluirReuniao() == true">
                    <button style="background-color: darkred;border-radius: 10px;" class="btn btn-raised btn-light"
                      (click)="slideFormexcluirReuniao()">Deletar</button>
                  </div>
                </div>
                <!-- Excluir Evento -->
                <div class="excluirReuniao">
                  <dl class="row">
                    <dt class="col-sm-12">Tem certeza que deseja excluir a Reunião?</dt>
                  </dl>
                  <button style="background-color: darkred;border-radius: 10px;" class="btn btn-raised btn-light"
                    (click)="excluirReuniao(this)">Excluir</button>
                  <button style="border-radius: 10px;" class="btn btn-raised btn-link"
                    (click)="slideFormexcluirReuniao()">Voltar</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5">
            <div class="card text-left">
              <div class="card-header text-white" style="background-color:#051a4b">
                EVENTOS
              </div>
              <div class="card-body">
                <div>
                  <div id='calendar'></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-5 ml-auto">
            <div class="card">
              <div class="card-header text-white" style="background-color:#051a4b">
                MINHAS SOLICITAÇÕES
              </div>
              <div class="card-body">
                <div *ngIf="userRole() === 'admin' || userRole() === 'G&G'">
                  <button style="background-color: #051a4b;border-radius: 10px;"
                    class="btn btn-raised btn-primary btn-sm" type="button" data-toggle="modal"
                    data-target="#exampleModalCenter"><i class="fas fa-plus"></i></button>
                </div>
                <br>
                <div
                  *ngIf="ListarNotificacoes == 0 && ListarSolicitacoesDeFerias == 0 && ListarSolicitacoesDeFerias == 0 && MeusRecebimentos == 0">
                  <p class=" h6 card-text"><b style="color:rgb(10, 85, 197)">Nenhuma solicitação neste momento </b></p>
                </div>
                <div *ngIf="ListarNotificacoes != 0">
                  <div *ngFor="let notificacao of ListarNotificacoes;">
                    <p class=" h6 card-text"><b
                        style="color:rgb(10, 85, 197)">{{notificacao.dataDaSolicitacao | date:'dd/MM/yyyy'}} -
                      </b>{{notificacao.assunto}}</p>&nbsp;
                  </div>
                </div>
                <div *ngIf="ListarSolicitacoesDeFerias != 0">
                  <div *ngFor="let ferias of ListarSolicitacoesDeFerias;">
                    <div *ngIf="ferias.status == 'Aguardando Retorno do RH' && userRole() === 'G&G'">
                      <p class=" h6 card-text"><b style="color:rgb(10, 85, 197)">Solicitação de Férias </b> -
                        {{ferias.nomeDoFuncionario}}
                        <br /> Data: {{ferias.dataInicio | date:'dd/MM/yyyy'}} Até
                        {{ferias.dataFim | date:'dd/MM/yyyy'}}</p>&nbsp;
                      <button class="btn btn-raised btn-success btn-sm"
                        (click)="AtualizarSolicitacaoDeFerias(ferias.id, 'Aprovado')">Aceitar</button>&nbsp;
                      <button class="btn btn-raised btn-danger btn-sm"
                        (click)="AtualizarSolicitacaoDeFerias(ferias.id, 'Recusado')">Recusar</button>
                    </div>
                  </div>
                </div>
                <div *ngIf="MinhasSolicitacoesDeFerias != 0">
                  <div *ngFor="let MinhasNotificacao of MinhasSolicitacoesDeFerias;">
                    <p class=" h6 card-text"><b style="color:rgb(10, 85, 197)">Minha Solicitação de Férias</b><br />
                      {{MinhasNotificacao.ferias.nomeDoFuncionario}} - {{MinhasNotificacao.ferias.cargo}} <br />
                      <b style="color:rgb(10, 85, 197)">Período</b>:
                      {{MinhasNotificacao.ferias.dataInicio | date:'dd/MM/yyyy'}} Até
                      {{MinhasNotificacao.ferias.dataFim | date:'dd/MM/yyyy'}}
                      <br /><b style="color:rgb(10, 85, 197)">Status</b>: {{MinhasNotificacao.ferias.status}}</p>
                    &nbsp;
                  </div>
                </div>
                <div *ngIf="MeusRecebimentos != 0">
                  <div *ngFor="let meusRecebidos of MeusRecebimentos;">
                    <div
                      *ngIf="userRole() == 'Recepcao' && meusRecebidos.status == 'Aguardando Retirada'  || userId() == meusRecebidos.userId && meusRecebidos.status == 'Aguardando Retirada'">
                      <p class=" h6 card-text"><b style="color:rgb(40, 136, 123)">Recebimento de
                          Correspondência</b><br />
                        <b style="color:rgb(40, 136, 123)">Remetente</b>: {{meusRecebidos.remetente}}
                        <br /><b style="color:rgb(40, 136, 123)">Status</b>: {{meusRecebidos.status}}
                        <br /><b style="color:rgb(40, 136, 123)">Funcionário</b>: {{meusRecebidos.user.fullName}}</p>
                        <button class="btn btn-raised btn-primary btn-sm"
                          (click)="AtualizarStatusDosMeusRecebimentos(meusRecebidos.id, 'Recebido')">Recebido</button>&nbsp;
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-2 ml-auto">
            <div class="card">
              <div class="card-header text-white" style="background-color:#051a4b">
                TEMPO
              </div>
              <div id="c_c4a3830e198f4858adb591fac0589426" class="normal">
              </div>
            </div>
          </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
          aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Adicionar Notificação</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form [formGroup]="notificacaoForm">
                  <div class="row col-md-12 mb-3">
                    <div class="col-12">
                      <label for="validationDefault03">Assunto: </label>
                      <textarea formControlName="assunto" class="form-control" id="exampleFormControlTextarea1"
                        rows="3"></textarea>
                    </div>
                  </div>
                  <div class="row col-md-12 mb-3">
                    <div class="col-8">
                      <label for="validationDefault03">Data da Notificação: </label>
                      <input type="date" formControlName="DataDaSolicitacao" class="form-control" id="data" required>
                    </div>
                    <div class="col-4">
                      <label for="validationDefault03">Expira Em: </label>
                      <br>
                      <select class="custom-select" name="expiraEm" id="expiraEm" formControlName="Expirar">
                        <option *ngFor="let expiraEm of expira" [value]="expiraEm.dias">
                          {{expiraEm.nome}}</option>
                      </select>
                    </div>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-light" style="background-color: #051a4b;border-radius: 10px;"
                  (click)="cadastrarSolicitacao()">Adicionar
                </button>
                <button type="button" class="btn btn-secondary" style="border-radius: 10px;"
                  data-dismiss="modal">Fechar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>