#calendar {
    max-width: 800px;
    margin: 0 auto;
}

.card-body {
    margin: 7px 7px;
    padding: 0;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 10px;
}

.visevent{
    display: block;
}

.excluirEvento {
    display: none;
}

.esconderRenuiao{
    display: block;
}

.excluirReuniao {
    display: none;
}


.formedit {
    display: none;
}