<div class="bg-white">
  <div class="container">
    <div class="row">
      <div class="col-11">
        <img src="assets/img/ford-EcoAzul-Banner.jpg" class="border">
        <br>
        <br>
        <!-- Modal -->
        <div class="modal fade" id="aniversariante" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="text-center" id="exampleModalLabel"><i class="fas fa-gift"></i> Aniversariante do dia</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <dl class="row">
                  <dt class="col-sm-5">Nome Completo:</dt>
                  <dd class="col-sm-7" id="title"></dd>

                  <dt class="col-sm-5">Data De Nascimento:</dt>
                  <dd class="col-sm-7" id="start"></dd>
                </dl>
              </div>
            </div>
          </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="leilao" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Detalhes do Leilão</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <dl class="row">
                  <dt class="col-sm-4">Nome do Leilão:</dt>
                  <dd class="col-sm-8" id="title"></dd>

                  <dt class="col-sm-4">Comitente:</dt>
                  <dd class="col-sm-8" id="nomeDoComitente"></dd>

                  <dt class="col-sm-4">Tipo do Leilão:</dt>
                  <dd class="col-sm-8" id="tipoDeLeilao"></dd>

                  <dt class="col-sm-4">Data do Leilão</dt>
                  <dd class="col-sm-8" id="start"></dd>
                </dl>
              </div>
            </div>
          </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="reuniao" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Detalhes da Reunião</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <dl class="row">
                  <dt class="col-sm-5">Assunto da Reunião:</dt>
                  <dd class="col-sm-7" id="title"></dd>

                  <dt class="col-sm-5">Responsável:</dt>
                  <dd class="col-sm-7" id="responsavel"></dd>

                  <dt class="col-sm-5">Departamento:</dt>
                  <dd class="col-sm-7" id="departamento"></dd>

                  <dt class="col-sm-5">Sala:</dt>
                  <dd class="col-sm-7" id="sala"></dd>

                  <dt class="col-sm-5">Início:</dt>
                  <dd class="col-sm-7" id="start"></dd>

                  <dt class="col-sm-5">Fim:</dt>
                  <dd class="col-sm-7" id="end"></dd>
                </dl>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5">
            <div class="card text-left">
              <div class="card-header text-white" style="background-color:#051a4b">
                EVENTOS
              </div>
              <div class="card-body">
                <div>
                  <div id='calendar'></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-5 ml-auto">
            <div class="card">
              <div class="card-header text-white" style="background-color:#051a4b">
                MINHAS SOLICITAÇÕES
              </div>
              <div class="card-body">
                <button style="background-color: #051a4b;border-radius: 10px;" class="btn btn-raised btn-primary btn-sm"
                  type="button" data-toggle="modal" data-target="#exampleModalCenter"><i
                    class="fas fa-plus"></i></button>
                <br>
                <br>
                <p class=" h6 card-text"><b style="color:rgb(10, 85, 197)">Nenhuma solicitação neste momento </b></p>
                <br>
              </div>
            </div>
          </div>
          <div class="col-md-2 ml-auto">
            <div class="card">
              <div class="card-header text-white" style="background-color:#051a4b">
                TEMPO
              </div>
              <div id="c_c4a3830e198f4858adb591fac0589426" class="normal">
              </div>
            </div>
          </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
          aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Adicionar Notificação</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form [formGroup]="notificacaoForm">
                  <div class="row col-md-12 mb-3">
                    <div class="col-12">
                      <label for="validationDefault03">Assunto: </label>
                      <textarea formControlName="assunto" class="form-control" id="exampleFormControlTextarea1"
                        rows="3"></textarea>
                    </div>
                  </div>
                  <div class="row col-md-12 mb-3">
                    <div class="col-8">
                      <label for="validationDefault03">Data da Solicitação: </label>
                      <input type="date" formControlName="DataDaSolicitacao" class="form-control" id="data" required>
                    </div>
                        <div class="col-4">
                            <label for="validationDefault03">Expira Em: </label>
                            <br>
                            <select class="custom-select" name="expiraEm" id="expiraEm"
                            formControlName="Expirar">
                            <option *ngFor="let expiraEm of expira" [value]="expiraEm.dias">
                                {{expiraEm.nome}}</option>
                        </select>
                        </div>
                      </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-light"
                  style="background-color: #051a4b;border-radius: 10px;" (click)="cadastrarSolicitacao()">Adicionar
                </button>
                <button type="button" class="btn btn-secondary" style="border-radius: 10px;"
                  data-dismiss="modal">Fechar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>